<html>
  <head>
    <title>{{title}}{{#if branch}} - [{{branch}}]{{/if}}</title>
    <style>
      {{>styles}}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <a href="./index.html" class="back">Back</a>
        {{>branch}}
        {{{content}}}

        <div class="button-container">
          <button type="button" onclick="submitChecklist()">Submit Check</button>
        </div>

        <div>
          <h3>Recent Checks</h3>
          {{>branch}}
          <ul id="recent-checks">
          </ul>

           <button type="button" onclick="clearChecks()">Delete Checks</button>
        </div>
      </div>
      {{>last-gen-message}}
    </div>
    <script type="text/javascript" src="{{src}}/timeago.js"></script>
    <script type="text/javascript">
      const STORAGE_KEY = '{{key}}-{{branch}}'
      const checkboxes = document.querySelectorAll('input[type=checkbox]')

      function clearChecks () {
        if (!prompt("Type DELETE to delete recent checks") !== 'DELETE') {
          return
        }

        saveChecks([])
        renderRecents()
      }

      function submitChecklist () {
        const inputs = document.querySelectorAll('input[type=checkbox]')
        const items = []
        let done = true
        for(var i = 0; i < inputs.length; i++) {
          if (!inputs[i].checked) {
            done = false
          }

          items.push({
            text: inputs[i].parentNode.innerText,
            checked: inputs[i].checked
          })
        }


        if (!done) {
          if (!confirm('Not everything was checked off. Continue anyway?')) {
            return
          }
        }

        addCheck(prompt("Notes"), items, done)

        for(var i = 0; i < inputs.length; i++) {
          inputs[i].checked = false
        }

        setUnload()
      }

      function getChecks () {
        let checks = localStorage.getItem(STORAGE_KEY)

        try {
          checks = JSON.parse(checks)
        }
        catch {
          checks = []
        }

        checks = checks || []

        const cutoff = new Date(new Date().getTime() - 7 * 24 * 60 * 60 * 1000).getTime()
        checks = checks
          .filter((a) => {
            const time = new Date(a.time).getTime()
            return time > (cutoff)
          })
          .sort((a, b) => {
            return a.time > b.time ? -1 : 1
          })

        return checks
      }

      function addCheck (notes, items, complete) {
        notes = notes || ""
        const checks = getChecks()
        checks.push({
          notes: notes,
          time: new Date(),
          complete: complete,
          items: items
        })

        saveChecks(checks)
        renderRecents()
      }

      function saveChecks (checks) {
        localStorage.setItem(STORAGE_KEY, JSON.stringify(checks))
      }

      function checkOrX (complete) {
        return '<strong class="' + (complete ? 'check' : 'x') + '">' + (complete ? '✓' : 'x') + '</strong> '
      }

      function renderRecents () {
        const checks = getChecks()
        const ul = document.getElementById('recent-checks')
        ul.innerHTML = ''

        if (!checks.length) {
          ul.innerHTML = '<li class="empty-message">No submitted checks.</li>'
        }

        const timeagoInstance = timeago()
        checks.forEach((check) => {
          const li = document.createElement('LI')
          const date = new Date(check.time)
          const time = timeagoInstance.format(date)

          li.innerHTML = checkOrX(check.complete)
          li.innerHTML += '<abbr title="' + date.toISOString() + '">' + time + '</abbr>'
          if (check.notes) {
            li.innerHTML += ': ' + check.notes
          }

          if (check.items) {
            li.innerHTML += '<ul class="check-items">' + check.items.map((item) => {
              return '<li>' + checkOrX(item.checked) + ' ' + item.text + '</li>'
            }).join('\n') + '</ul>'
          }

          ul.appendChild(li)
        })
      }

      function setUnload () {
        let needConfirm = false
        for(var i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i].checked) {
            needConfirm = true
          }
        }

        if (needConfirm) {
          window.onbeforeunload = function () {
            return true
          }
        }
        else {
          window.onbeforeunload = null
        }
      }

      document.addEventListener('DOMContentLoaded', () => {
        renderRecents()

        for(var i = 0; i < checkboxes.length; i++) {
          const check = checkboxes[i]
          check.addEventListener('click', setUnload)
        }
      })
    </script>
  </body>
</html>