<html>
  <head>
    <title>{{title}} - [{{branch}}]</title>
    <style>
      {{>styles}}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <a href="./index.html" class="back">Back</a>

        {{{content}}}

        <div class="button-container">
          <button type="button" onclick="submitChecklist()">Submit Check</button>
        </div>

        <div>
          <h3>Recent Checks</h3>
          {{#if branch}}
            <div class="current-branch">
              Branch: <code>{{branch}}</code>
            </div>
          {{/if}}
          <ul id="recent-checks">
          </ul>
        </div>
      </div>
      {{>last-gen-message}}
    </div>

    <script type="text/javascript">
      const STORAGE_KEY = '{{key}}-{{branch}}'
      function submitChecklist () {
        const inputs = document.querySelectorAll('input[type=checkbox]')
        let done = true
        for(var i = 0; i < inputs.length; i++) {
          if (!inputs[i].checked) {
            done = false
          }
        }

        if (!done) {
          if (!confirm('Not everything was checked off. Continue anyway?')) {
            return
          }
        }

        addCheck(prompt("Notes"))

        for(var i = 0; i < inputs.length; i++) {
          inputs[i].checked = false
        }
      }

      function getChecks () {
        let checks = localStorage.getItem(STORAGE_KEY)

        try {
          checks = JSON.parse(checks)
        }
        catch {
          checks = []
        }

        checks = checks || []

        const cutoff = new Date(new Date().getTime() - 7 * 24 * 60 * 60 * 1000).getTime()
        checks = checks
          .filter((a) => {
            const time = new Date(a.time).getTime()
            return time > (cutoff)
          })
          .sort((a, b) => {
            return a.time > b.time ? -1 : 1
          })

        return checks
      }

      function addCheck (notes) {
        notes = notes || ""
        const checks = getChecks()
        checks.push({
          notes: notes,
          time: new Date()
        })

        saveChecks(checks)
        renderRecents()
      }

      function saveChecks (checks) {
        localStorage.setItem(STORAGE_KEY, JSON.stringify(checks))
      }

      function renderRecents () {
        const checks = getChecks()
        const ul = document.getElementById('recent-checks')
        ul.innerHTML = ''

        if (!checks.length) {
          ul.innerHTML = '<li class="empty-message">No submitted checks.</li>'
        }

        checks.forEach((check) => {
          const li = document.createElement('LI')
          li.innerHTML = new Date(check.time).toLocaleString();
          if (check.notes) {
            li.innerHTML += ': ' + check.notes
          }
          ul.appendChild(li)
        })
      }

      renderRecents()
    </script>
  </body>
</html>