* { box-sizing: border-box } 

body {
  font-family: Open Sans,Arial;
  color: #454545;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: #fbfbfb;
}

.container {
  min-height: 100%;
  position: relative;
}

.content {
  margin: 0 auto;
  padding-bottom: 60px;
  width: 800px;
  padding-top: 2em;
}

ul.nav {
  color: #999;
}

ul {
  list-style: inside none;
  padding-left: 0;
}

li > ul {
  padding-left: 1em;
  margin-top: 1em;
}

ul li {
  margin-bottom: 0.5em;
}

ul.nav li ul {
  border-left: 1px solid darkorange;
}

ul.nav li > ul ul {
  border-left-color: mediumseagreen;
}


ul.nav li > ul ul ul {
  border-left-color: deepskyblue;
}

ul.nav li > ul ul ul ul {
  border-left-color: hotpink;
}

ul.nav li > ul ul ul ul ul {
  border-left-color: darkred;
}

ul.nav li > ul ul ul ul ul ul{
  border-left-color: orange;
}

code {
  color: firebrick;
}


button code {
  color: red;
}

.content li ul {
  margin-top: 0.5em;
}

.button-container {
  padding-top: 1em;
}

button {
  padding: 1em 1.5em;
  font-size: 14px;
  border: none;
  background: #333;
  color: #fff;
}

button:hover {
  cursor: pointer;
  background: #444;
}

a.back {
  display: inline-block;
  margin-bottom: 0.25em;
  text-decoration: none;
  padding: 0.75em 1.5em;
  background: steelblue;
  color: #fff !important;
}

a.back:hover {
  text-decoration: none;
  background: dodgerblue;
}

a,
a:visited {
  color: dodgerblue;
  text-decoration: none;
}

a:hover {
  color: dodgerblue;
  text-decoration: underline;
}

li.empty-message {
  font-style: italic;
}

.last-generated-message {
  height: 40px;
  line-height: 40px;
  background: #eee;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-left: 2em;
  font-size: 11px;
  color: #666;
}

abbr {
  border-bottom: 1px dashed #999;
  text-decoration: none;
}

#recent-checks {
  margin-bottom: 2em;
}

#recent-checks li {
  margin-bottom: 0.5em;
}

#recent-checks ul {
  font-size: 11px;
  padding-left: 20px;
  padding-top: 10px;
  color: #333;
}

.x {
}

.check {
  color: limegreen;
}

h4 {
  color: #999;
}